h1,
h2 {
  font-family: "Young Serif";
  font-weight: 400;
}

h1 {
  color: hsl(24, 5%, 18%);
}

h2 {
  color: hsl(14, 45%, 36%);
}

ul,
ol {
  list-style-position: outside;
}
ul li,
ol li {
  padding-left: 15px;
}

p,
ul li,
ol li,
tr {
  font-family: Outfit;
  font-weight: 400;
  color: hsl(30, 10%, 34%);
}

.prepare-info {
  background-color: hsl(330, 100%, 98%);
  padding: 25px;
  border-radius: 10px;
}
.prepare-info h3 {
  font-size: 1.2rem;
  color: hsl(332, 51%, 32%);
  font-family: Outfit;
}
.prepare-info ul li::marker {
  color: hsl(332, 51%, 32%);
  font-weight: 600;
}

b,
.amount {
  font-weight: 600;
}

.amount {
  color: hsl(14, 45%, 36%);
}

.ingredients-part ul li::marker,
.instructions-part ol li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5rem;
}

.main-container {
  width: 100vw;
  height: 100%;
}
.main-container img {
  width: 100%;
}
.main-container .info-container {
  margin: 40px 30px;
}
.main-container .info-container h1 {
  margin-bottom: 20px;
  line-height: 2.3rem;
  font-size: 2.3rem;
}
.main-container .info-container p {
  margin-bottom: 30px;
}
.main-container .info-container .prepare-info {
  margin-bottom: 30px;
}
.main-container .info-container .prepare-info h3 {
  margin-bottom: 15px;
}
.main-container .info-container .prepare-info ul {
  margin-left: 30px;
}
.main-container .info-container .prepare-info ul li {
  margin-bottom: 10px;
}
.main-container .info-container .prepare-info ul li:last-child {
  margin-bottom: 0;
}
.main-container .info-container .topic {
  margin-bottom: 20px;
  font-size: 1.7rem;
}
.main-container .info-container hr {
  margin: 30px 0;
  border: 1px solid hsl(30, 18%, 87%);
}
.main-container .info-container .ingredients-part ul,
.main-container .info-container .instructions-part ol {
  margin-left: 25px;
}
.main-container .info-container .ingredients-part ul li,
.main-container .info-container .instructions-part ol li {
  margin-bottom: 10px;
}
.main-container .info-container table {
  width: 100%;
}
.main-container .info-container table tr td {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding: 10px 0;
}
.main-container .info-container table tr:first-child td {
  padding-top: 0;
}
.main-container .info-container table tr:last-child td {
  border: none;
  padding-bottom: 0;
}
.main-container .info-container table tr td:first-child {
  text-indent: 30px;
}
.main-container .info-container table tr td:last-child {
  padding-right: 30px;
}

@media (min-width: 1024px) {
  body {
    background-color: hsl(30, 54%, 90%);
  }
  body article .main-container {
    width: 735px;
    height: 1710px;
    background-color: white;
    border-radius: 25px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
  body article .main-container img {
    border-radius: 10px;
  }
  body article .main-container .info-container {
    margin: 37px 0;
  }
  body article .main-container .info-container h1 {
    font-size: 2.5rem;
  }
  body article .main-container .info-container .topic {
    font-size: 1.75rem;
    line-height: 1.9rem;
  }
}