// Font
$topic-font-family: "Young Serif";
$prepare-topic-and-paragraph-font-family: Outfit;
$topic-font-weight: 400;
$prepare-topic-font-weight: 700;
$bold-text-font-weight: 600;
$normal-text-font-weight: 400;
$root-font-size: 16px;

// Color
$main-container-background-color: hsl(0, 0%, 100%);
$body-background-color: hsl(30, 54%, 90%);
$line-color: hsl(30, 18%, 87%);
$paragraph-color: hsl(30, 10%, 34%);
$main-heading-color: hsl(24, 5%, 18%);
$sub-and-amount-table-heading-color: hsl(14, 45%, 36%);
$prepare-section-heading-and-bullet-color: hsl(332, 51%, 32%);
$prepare-section-background-color: hsl(330, 100%, 98%);

h1,
h2 {
  font-family: $topic-font-family;
  font-weight: $topic-font-weight;
}

h1 {
  color: $main-heading-color;
}

h2 {
  color: $sub-and-amount-table-heading-color;
}

ul,
ol {
  list-style-position: outside;

  li {
    padding-left: 15px;
  }
}

p,
ul li,
ol li,
tr {
  font-family: $prepare-topic-and-paragraph-font-family;
  font-weight: $normal-text-font-weight;
  color: $paragraph-color;
}

.prepare-info {
  background-color: $prepare-section-background-color;

  h3 {
    color: $prepare-section-heading-and-bullet-color;
    font-family: $prepare-topic-and-paragraph-font-family;
  }

  ul li::marker {
    color: $prepare-section-heading-and-bullet-color;
  }
}

b,
.amount {
  font-weight: $bold-text-font-weight;
}

.amount {
  color: $sub-and-amount-table-heading-color;
}

.ingredients-part ul li::marker,
.instructions-part ol li::marker {
  color: $sub-and-amount-table-heading-color;
  font-weight: $bold-text-font-weight;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5rem;
}

.main-container {
  width: 100vw;
  height: 100%;

  img {
    width: 100%;
  }

  .info-container {
    margin: 40px 30px;

    h1 {
      margin-bottom: 20px;
      line-height: 2.3rem;
      font-size: 2.3rem;
    }

    p {
      margin-bottom: 30px;
    }

    .prepare-info {
      padding: 25px;
      border-radius: 10px;
      margin-bottom: 30px;

      h3 {
        font-size: 1.2rem;
        margin-bottom: 15px;
      }

      ul {
        margin-left: 30px;

        li {
          margin-bottom: 10px;
        }

        li:last-child {
          margin-bottom: 0;
        }
      }
    }

    .topic {
      margin-bottom: 20px;
      font-size: 1.7rem;
    }

    hr {
      margin: 30px 0;
      border: 1px solid $line-color;
    }

    .ingredients-part ul,
    .instructions-part ol {
      margin-left: 25px;

      li {
        margin-bottom: 10px;
      }
    }

    table {
      width: 100%;

      tr td {
        border-bottom: 1px solid $line-color;
        padding: 10px 0;
      }

      tr:first-child td {
        padding-top: 0;
      }

      tr:last-child td {
        border: none;
        padding-bottom: 0;
      }

      tr td:first-child {
        text-indent: 30px;
      }

      tr td:last-child {
        padding-right: 30px;
      }
    }
  }
}

@media (min-width: 1024px) {
  body {
    background-color: $body-background-color;
    padding: 120px;

    .main-container {
      width: 735px;
      height: 1710px;
      background-color: white;
      border-radius: 25px;
      padding: 40px;

      // position: absolute;
      // top: 50%;
      // left: 50%;
      // translate: -50% -50%;
      margin: 0 auto;

      img {
        border-radius: 10px;
      }

      .info-container {
        margin: 37px 0;

        h1 {
          font-size: 2.5rem;
        }

        .topic {
          font-size: 1.75rem;
          line-height: 1.9rem;
        }
      }
    }
  }
}
