@charset "UTF-8";
@font-face {
  font-family: outfit;
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}
@font-face {
  font-family: young-serif;
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
* {
  font-size: 16px;
  font-family: outfit;
  color: hsl(30, 10%, 34%);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
}

main {
  background-color: hsl(0, 0%, 100%);
}

h1 {
  color: hsl(24, 5%, 18%);
  font-family: young-serif;
}

h2 {
  font-family: young-serif;
  color: hsl(14, 45%, 36%);
}

h3 {
  color: hsl(332, 51%, 32%);
}

hr {
  border-top: 1px solid hsl(30, 18%, 87%);
}

.sub-content {
  background-color: hsl(330, 100%, 98%);
  border-radius: 15px;
}
.sub-content .sub-content-list {
  list-style: none;
}
.sub-content .sub-content-list li {
  display: flex;
  align-items: center;
}
.sub-content .sub-content-list li::before {
  content: "⏺";
  font-size: 0.6rem;
  color: hsl(332, 51%, 32%);
}

.ingredients-list {
  list-style: none;
}
.ingredients-list li {
  display: flex;
  align-items: center;
}
.ingredients-list li::before {
  content: "⏺";
  font-size: 0.6rem;
  color: hsl(14, 45%, 36%);
}

.instructions-list {
  list-style: none;
}
.instructions-list li:nth-child(1)::before {
  content: "1.";
}
.instructions-list li:nth-child(2)::before {
  content: "2.";
}
.instructions-list li:nth-child(3)::before {
  content: "3.";
}
.instructions-list li:nth-child(4)::before {
  content: "4.";
}
.instructions-list li:nth-child(5)::before {
  content: "5.";
}
.instructions-list li:nth-child(6)::before {
  content: "6.";
}
.instructions-list li::before {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}
.instructions-list li {
  display: flex;
}

table {
  width: 100%;
}
table tr td {
  border-left: none;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}
table tr:last-child td {
  border: none;
}

.amount b {
  color: hsl(14, 45%, 36%);
}

@media (min-width: 375px) and (max-width: 1439px) {
  main {
    width: 100%;
    height: 100%;
  }
  main img {
    width: 100%;
  }
  main .content {
    padding: 40px 30px;
  }
  main .content h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  main .content h2 {
    font-size: 1.7rem;
    margin-bottom: 25px;
  }
  main .content hr {
    margin: 30px 0 35px 0;
  }
  main .content .main-info {
    margin: 30px 0;
  }
  main .content .sub-content {
    height: 195px;
    padding: 25px;
    margin-bottom: 35px;
  }
  main .content .sub-content h3 {
    font-size: 1.2rem;
  }
  main .content .sub-content .sub-content-list li div {
    margin-top: 15px;
    padding-left: 25px;
  }
  main .content .sub-content .sub-content-list li::before {
    margin-top: 14px;
    margin-left: 8px;
  }
  main .content .ingredients-list {
    margin-left: 7px;
  }
  main .content .ingredients-list li {
    margin-bottom: 10px;
  }
  main .content .ingredients-list li div {
    margin-left: 25px;
  }
  main .content .instructions-list {
    margin-left: 7px;
  }
  main .content .instructions-list li {
    margin-bottom: 10px;
  }
  main .content .instructions-list li div {
    margin-left: 15px;
    margin-right: 8px;
  }
  main .content .nutrition-info {
    letter-spacing: 0.1px;
  }
  main .content table {
    margin-top: 25px;
  }
  main .content table tr {
    height: 45px;
  }
  main .content table tr td {
    padding-left: 30px;
  }
}
@media (min-width: 1440px) {
  main {
    width: 740px;
    height: -moz-fit-content;
    height: fit-content;
    padding: 40px;
    border-radius: 30px;
    margin: 120px auto;
  }
  main img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 40px;
  }
  main .content h1 {
    font-size: 2.5rem;
    line-height: 2rem;
  }
  main .content p.main-info {
    margin: 20px 0 30px 0;
    line-height: 1.3rem;
  }
  main .content hr {
    margin: 35px 0;
  }
  main .content .sub-content {
    margin-bottom: 30px;
    height: 175px;
    padding: 25px;
  }
  main .content .sub-content h3 {
    font-size: 1.3rem;
  }
  main .content .sub-content ul.sub-content-list {
    margin-left: 8px;
  }
  main .content .sub-content ul.sub-content-list li {
    margin-top: 12px;
  }
  main .content .sub-content ul.sub-content-list li div {
    margin-left: 25px;
  }
  main .content h2 {
    font-size: 1.8rem;
    margin-bottom: 25px;
  }
  main .content .ingredients-list {
    margin-left: 7px;
  }
  main .content .ingredients-list li {
    margin-bottom: 10px;
  }
  main .content .ingredients-list li div {
    margin-left: 25px;
  }
  main .content .instructions-list {
    margin-left: 7px;
  }
  main .content .instructions-list li {
    line-height: 1.5rem;
    margin-bottom: 10px;
    letter-spacing: 0.1px;
  }
  main .content .instructions-list li div {
    margin-left: 15px;
  }
  main .content table {
    margin-top: 15px;
  }
  main .content table tr {
    height: 45px;
  }
  main .content table tr td {
    padding-left: 30px;
  }
}