@font-face {
  font-family: outfit;
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}
@font-face {
  font-family: young-serif;
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
* {
  font-size: 16px;
  font-family: outfit;
  color: hsl(30, 10%, 34%);
  margin: 0;
  padding: 0;
}

h1 {
  color: hsl(24, 5%, 18%);
  font-family: young-serif;
}

h2 {
  font-family: young-serif;
  color: hsl(14, 45%, 36%);
}

h3 {
  color: hsl(332, 51%, 32%);
}

table {
  width: 100%;
}
table tr td {
  border-left: none;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding-left: 10%;
}

ol,
ul {
  list-style-position: inside;
}

.ingredients-list,
.instructions-list {
  text-indent: -20px;
  margin-left: 5px;
}

ol li::marker,
ul li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.amount b {
  color: hsl(14, 45%, 36%);
}

@media (min-width: 375px) {
  img {
    width: 100%;
  }
  .content {
    margin: 40px 35px;
  }
  .content h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 25px;
  }
  .content .main-info {
    margin-bottom: 60px;
  }
  .content .sub-content {
    padding: 0 25px;
    margin-bottom: 60px;
    height: 260px;
  }
  .content h2 {
    font-size: 1.5rem;
  }
}