// Colors
$nutmeg: hsl(14, 45%, 36%);
$dark-raspberry: hsl(332, 51%, 32%);
$white: hsl(0, 0%, 100%);
$rose-white: hsl(330, 100%, 98%);
$eggshell: hsl(30, 54%, 90%);
$light-grey: hsl(30, 18%, 87%);
$wenge-brown: hsl(30, 10%, 34%);
$dark-charcoal: hsl(24, 5%, 18%);

// Font size at root
$root-font_size: 16px;

// Device min-width
$mobile-width: 375px;
$desktop-width: 1440px;

@font-face {
  font-family: outfit;
  src: url("assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: young-serif;
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}

* {
  font-size: $root-font_size;
  font-family: outfit;
  color: $wenge-brown;
}

h1 {
  color: $dark-charcoal;
  font-family: young-serif;
}

h2 {
  font-family: young-serif;
  color: $nutmeg;
}

h3 {
  color: $dark-raspberry;
}

table {
  width: 100%;
}

.amount b {
  color: $nutmeg;
}
